* {
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  background: #f5f7fb;
}

.welcome {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #293264;
}
.welcome--title {
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
}

.welcome--body {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.welcome--button {
  margin-top: 30px;
  padding-block: 15px;
  padding-inline: 40px;
  border-radius: 12px;
  color: white;
  background: #4d5b9e;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.welcome > .blobOne {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.welcome > .blobTwo {
  position: absolute;
  top: 0px;
  right: 0px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons > .answer {
  height: 20px;
  min-width: 65px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;

  border: none;
  border-radius: 6px;
}
